
body {
    font-family: Georgia;
    text-align: center;
    color: black;
    font-size: larger;
    background: url("https://img.freepik.com/premium-photo/old-paper-vintage-aged-background-texture_34266-592.jpg?w=740");
}

img {
    width: 400px;
    height: 450px;
    border-radius: 20px;
}

a {
    color: rgb(34, 23, 6);
    text-decoration:none;
    padding: 10px; 
    margin: 5px;
    background-color: rgb(231, 178, 97);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgb(50, 21, 21);
}

a:focus {
    box-shadow: 5px 5px 5px 0px rgb(50, 21, 21), inset 5px 5px 5px 0px rgb(50, 21, 21);;
}

footer {
    background-image: linear-gradient(#E06F2B, brown);
}
